{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poll detail</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    
    <link rel="stylesheet" type='text/css'  href="{% static 'style.css' %}">
    
    <style type="text/css">

      p{
        color:brown;
      }


    </style>
</head>

<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header id="home-header" class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout mdl-layout__header-row">
    <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'polls:login' %}">로그아웃</a>
        <a class="mdl-navigation__link" href="{% url 'polls:home' %}">홈으로</a>
      </nav>
    </div>
    <div class="mdl-layout mdl-layout__header-row">
      <h3>질문</h3>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div id=wrapper class="page-content">
      
      <div style="font-size: large; width:400px; display:grid; align-content: center; text-align: center; padding:12px">
        {% if error_message %}
        <div>
          <h3 style="color:red"><strong>{{ error_message }}</strong></h3>
        </div>
        {% endif %}
        <div style="margin:10px; padding: 16px; border: 2px solid gray;">
        {{ poll.questionText }}
        </div>
        
        <div style="display: grid; justify-content: flex-end;">
          {% if poll.secretPoll == True %}
            <p style="display:flex; justify-content: flex-end; margin-bottom: 2px;">
            익명 투표 입니다.</p>
          {% else %}
            <p style="display:flex; justify-content: flex-end; margin-bottom: 2px;">
            기명 투표 입니다.</p>
          {% endif %}
          <p style="display:flex; justify-content: flex-end; margin-bottom: 2px;">
            투표기한: ~ {{ poll.expireDate }}</p>
          <p><img style="width: 320px; height: 320px;" src="../../media/{{ poll.pollImage }}" alt=""></p>
        </div>
        <div style="margin-top: 2px; row-gap: 6px; display: grid; justify-content: flex-start; border: 2px solid gray; padding: 4px;">
          <form action={% url 'polls:vote' poll.pollId %} method="post">
            {% csrf_token %}
            {% for choice in poll.choice.all %}
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="choice{{ forloop.counter }}">
                <input type="radio" id="choice{{ forloop.counter }}" class="mdl-radio__button" name="choice" value="{{ choice.choiceId }}">
                <span class="mdl-radio__label">{{ choice.choiceText }}</span>
              </label>
              <p></p>
            {% endfor %}
            <div style="margin-top: 24px;">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                투표 하기
              </button>
            </div>
          </form>
        </div>

      </div>      
    </div>
  </main>
</div>

</body>
</html>
